---
import Sectionhead from "../components/Sectionhead.astro";
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Iniciar sesión">
    <Container>
        <Sectionhead>
            <Fragment slot="title">Iniciar sesión</Fragment>
            <Fragment slot="desc">Rellene el siguiente formulario para iniciar sesión</Fragment>
        </Sectionhead>
        <div class="px-40 py-20">
            <form
                method="post"
                action="/api/signup"
                class="needs-validation"
                novalidate
            >
                <div class="mb-5">
                    <input
                    type="text"
                    placeholder="Usuario"
                    required
                    class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
                    name="username"
                    id="username"
                    />
                    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
                        Por favor introduzca el usuario
                    </div>
                </div>
                <div class="mb-5">
                    <input
                    type="text"
                    placeholder="Contraseña"
                    required
                    class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
                    name="password"
                    id="password"
                    />
                    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
                        Por favor introduzca la contraseña
                    </div>
                </div>
                <button class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-6 py-3 bg-black text-white hover:bg-slate-900  border-2 border-transparent">
                    Continue
                </button>
                <p id="form-error"></p>
            </form>
        </div>
    </Container>
</Layout>

<script>
	const errorMessageElement = document.getElementById("form-error")!;

	document.forms[0].addEventListener("submit", async (e) => {
		e.preventDefault();
		errorMessageElement.innerText = "";
		const formElement = e.target as HTMLFormElement;
		const response = await fetch(formElement.action, {
			method: formElement.method,
			body: new FormData(formElement)
		});
		if (response.ok) {
			window.location.href = "/";
		} else {
			errorMessageElement.innerText = (await response.json()).error;
		}
	});
</script>