---
import Header from "../components/Header.astro"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<footer class="mx-auto max-w-screen-lg pt-10 px-4 sm:px-6 lg:px-8"> <div class="border-t border-gray-400"> <p class="text-center text-xs/relaxed text-gray-500 mt-8 mb-8">
			© 2024. Salud Diaria - All rights reserved
			<span class="block mt-2">
			Made by
			<a href="https://www.linkedin.com/in/bartolome-maraj/" class="text-gray-600 decoration-dashed transition hover:text-gray-700">Bartlomiej Maraj</a> </span> </p> </div> </footer>
		<style is:global>
			img {
			  content-visibility: auto;
			}
		  </style>
	</body>
</html>